API_URL=http://localhost:8000
BASE_URL=http://localhost:8000/v1
COOKIE_KEY=IDG_PAPA-FOOD_TOKEN
COOKIE_USERID_KEY=IDG_PAPA-FOOD_TOKEN_USER_ID
APP_URL=http://localhost:3000

#Google map API Key
GOOGLE_MAP_API_KEY="AIzaSyBo4BlPeTJDbVI3Kcl_MrsWilyTXhmkAYo"

#FIREBASE CONFIG
PAPA_FOOD_FIREBASE_API_KEY=AIzaSyBigHSwuf0s6wH5N7ra0nb1P6agM14roM4
PAPA_FOOD_FIREBASE_AUTH_DOMAIN=feonone-site.firebaseapp.com
PAPA_FOOD_FIREBASE_PROJECT_ID=feonone-site
PAPA_FOOD_FIREBASE_STORAGE_BUCKET=feonone-site.firebasestorage.app
PAPA_FOOD_FIREBASE_MESSAGING_SENDER_ID=349031887807
PAPA_FOOD_FIREBASE_APP_ID=1:349031887807:web:f0b08220b627b01faba70a
PAPA_FOOD_FIREBASE_MEASUREMENT_ID=G-EC612FCPQK
PAPA_FOOD_FIREBASE_VAPID_KEY= BNoypjTnHgKXYG9qq49ffArpopZjJmMzfsMN5uSCnGfFpiCuboBvsxZnHt8JuHQKAA13ZR-ERdt7Gj8vktT0cXU 


